NasaSpaceApp/.vs/NasaSpaceApp/v14/.suo
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/AppX/AppxManifest.xml
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/AppX/entrypoint/NasaSpaceApp.exe
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/AppX/NasaSpaceApp.exe
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/AppX/resources.pri
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/AppX/vs.appxrecipe
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/AppX/WinMetadata/Windows.winmd
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/AppxManifest.xml
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/Core/AppxManifest.xml
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/Core/NasaSpaceApp.exe
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/GalaSoft.MvvmLight.Extras.pdb
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/GalaSoft.MvvmLight.pdb
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/GalaSoft.MvvmLight.Platform.pdb
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/Microsoft.Practices.ServiceLocation.pdb
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/NasaSpaceApp.build.appxrecipe
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/NasaSpaceApp.exe
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/NasaSpaceApp.pdb
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/resources.pri
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/App.g.cs
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/App.g.i.cs
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/intermediatexaml/NasaSpaceApp.exe
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/intermediatexaml/NasaSpaceApp.pdb
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/MainPage.g.cs
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/MainPage.g.i.cs
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/NasaSpaceApp.csproj.FileListAbsolute.txt
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/NasaSpaceApp.csproj.GenerateResource.Cache
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/NasaSpaceApp.csprojResolveAssemblyReference.cache
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/NasaSpaceApp.exe
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/NasaSpaceApp.pdb
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/pri.resfiles
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/pri.resfiles.intermediate
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/ProjectArchitectures.txt
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/ResourceHandlingTask.state
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/resources.resfiles
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/resources.resfiles.intermediate
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/UI/LiveImageVIew.g.cs
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/UI/LiveImageVIew.g.i.cs
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/UI/LoginPageView.g.cs
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/UI/LoginPageView.g.i.cs
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/UI/MapPageView.g.cs
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/UI/MapPageView.g.i.cs
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/UI/RawDataView.g.cs
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/UI/RawDataView.g.i.cs
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/UI/ShellVIew.g.cs
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/UI/ShellVIew.g.i.cs
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/XamlSaveStateFile.xml
NasaSpaceApp/NasaSpaceApp/project.lock.json
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/AppX/AppxManifest.xml
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/AppX/entrypoint/NasaSpaceApp.exe
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/AppX/NasaSpaceApp.exe
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/AppX/NasaSpaceApp.xr.xml
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/AppX/resources.pri
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/AppX/vs.appxrecipe
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/AppX/WinMetadata/Windows.winmd
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/Core/AppxManifest.xml
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/Core/NasaSpaceApp.exe
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/NasaSpaceApp.build.appxrecipe
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/NasaSpaceApp.exe
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/NasaSpaceApp.pdb
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/NasaSpaceApp.xr.xml
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/resources.pri
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/UI/MapPageView.xbf
NasaSpaceApp/NasaSpaceApp/bin/x86/Debug/UI/ShellVIew.xbf
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/App.g.cs
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/App.g.i.cs
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/intermediatexaml/NasaSpaceApp.exe
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/intermediatexaml/NasaSpaceApp.pdb
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/MainPage.g.cs
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/MainPage.g.i.cs
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/NasaSpaceApp.csproj.FileListAbsolute.txt
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/NasaSpaceApp.csproj.GenerateResource.Cache
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/NasaSpaceApp.csprojResolveAssemblyReference.cache
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/NasaSpaceApp.exe
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/NasaSpaceApp.pdb
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/NasaSpaceApp.xr.xml
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/pri.resfiles
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/pri.resfiles.intermediate
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/ProjectArchitectures.txt
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/ResourceHandlingTask.state
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/resources.resfiles
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/resources.resfiles.intermediate
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/UI/LiveImageVIew.g.cs
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/UI/LiveImageVIew.g.i.cs
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/UI/LoginPageView.g.cs
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/UI/LoginPageView.g.i.cs
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/UI/MapPageView.g.cs
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/UI/MapPageView.g.i.cs
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/UI/MapPageView.xaml
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/UI/MapPageView.xbf
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/UI/RawDataView.g.cs
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/UI/RawDataView.g.i.cs
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/UI/ShellVIew.g.cs
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/UI/ShellVIew.g.i.cs
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/UI/ShellVIew.xaml
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/UI/ShellVIew.xbf
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/XamlSaveStateFile.xml
NasaSpaceApp/NasaSpaceApp/obj/x86/Debug/XamlTypeInfo.g.cs
NasaSpaceApp/NasaSpaceApp/project.lock.json
